chatbot/chatbot.json
{
    "nodes": [
        {
            "parameters": {
                "public": true,
                "mode": "webhook",
                "options": {
                    "responseMode": "lastNode"
                }
            },
            "type": "@n8n/n8n-nodes-langchain.chatTrigger",
            "typeVersion": 1.4,
            "position": [
                -736,
                1984
            ],
            "id": "76cebe1a-89ee-4458-bc63-8b5ba77f9f26",
            "name": "When chat message received",
            "webhookId": "1e929533-3402-4e43-a65d-2a0333380cf0"
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.action }}",
                                        "rightValue": "track",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        },
                                        "id": "9f3a4783-9652-4699-8e6c-6e084c8c74c1"
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "Tracking"
                        }
                    ]
                },
                "options": {
                    "fallbackOutput": "extra"
                }
            },
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.2,
            "position": [
                -512,
                1984
            ],
            "id": "3a2f6be3-9f19-470e-817c-f4feafa6e126",
            "name": "Router"
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "n8n-nodes-base.dateTimeTool",
            "typeVersion": 2,
            "position": [
                -32,
                2512
            ],
            "id": "3e7dd6eb-3c98-43c4-9ce0-ae58a7fac1c1",
            "name": "Date & Time"
        },
        {
            "parameters": {
                "description": "Herramienta que busca en el catálogo.",
                "workflowId": {
                    "__rl": true,
                    "value": "wyRrAfgDOAj0mVsD",
                    "mode": "list",
                    "cachedResultUrl": "/workflow/wyRrAfgDOAj0mVsD",
                    "cachedResultName": "Tool - Catalogo"
                },
                "workflowInputs": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "intencio_de_usuario": "={{ $fromAI('intencio_de_usuario', ``, 'string') }}"
                    },
                    "matchingColumns": [
                        "query"
                    ],
                    "schema": [
                        {
                            "id": "intencio_de_usuario",
                            "displayName": "intencio_de_usuario",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "canBeUsedToMatch": true,
                            "type": "string",
                            "removed": false
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                }
            },
            "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
            "typeVersion": 2.2,
            "position": [
                96,
                2512
            ],
            "id": "f2d891d9-69ac-437f-af68-acc65915ba15",
            "name": "consultar_catalogo"
        },
        {
            "parameters": {
                "description": "Consultar estado de pedido.",
                "workflowId": {
                    "__rl": true,
                    "value": "Zo8X11fXk6QwT6ed",
                    "mode": "list",
                    "cachedResultUrl": "/workflow/Zo8X11fXk6QwT6ed",
                    "cachedResultName": "Tool - Pedidos"
                },
                "workflowInputs": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "identificador": "={{ $fromAI('identificador', ``, 'string') }}"
                    },
                    "matchingColumns": [
                        "email"
                    ],
                    "schema": [
                        {
                            "id": "identificador",
                            "displayName": "identificador",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "canBeUsedToMatch": true,
                            "type": "string",
                            "removed": false
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                }
            },
            "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
            "typeVersion": 2.2,
            "position": [
                224,
                2512
            ],
            "id": "b35e90c0-ac6a-4458-a8b0-6f28cfee2957",
            "name": "consultar_estado_pedido"
        },
        {
            "parameters": {
                "description": "Consultar políticas y FAQs.",
                "workflowId": {
                    "__rl": true,
                    "value": "2UIbryXkixGyFNXt",
                    "mode": "list",
                    "cachedResultUrl": "/workflow/2UIbryXkixGyFNXt",
                    "cachedResultName": "Tool - Politicas"
                },
                "workflowInputs": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "query": "={{ $fromAI('query', ``, 'string') }}"
                    },
                    "matchingColumns": [
                        "query"
                    ],
                    "schema": [
                        {
                            "id": "query",
                            "displayName": "query",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "canBeUsedToMatch": true,
                            "type": "string",
                            "removed": false
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                }
            },
            "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
            "typeVersion": 2.2,
            "position": [
                352,
                2512
            ],
            "id": "9dd648e8-c8a4-43ed-8514-96604ee0a301",
            "name": "consultar_politicas"
        },
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "value": "gpt-4.1-mini",
                    "mode": "list",
                    "cachedResultName": "gpt-4.1-mini"
                },
                "builtInTools": {},
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1.3,
            "position": [
                -288,
                2512
            ],
            "id": "82b21ab2-314c-4cb0-886f-43efb0a1219a",
            "name": "OpenAI Chat Model",
            "credentials": {
                "openAiApi": {
                    "id": "1MaHDKdD55sbyLF8",
                    "name": "haminos"
                }
            }
        },
        {
            "parameters": {
                "options": {
                    "systemMessage": "=## ROL Y OBJETIVO\nEres el Asesor Experto en Dermocosmética de HAMINOS®. Tu tono es PROFESIONAL, EMPÁTICO Y FLUIDO. Eres un experto que ayuda, no un robot que despacha. Tu objetivo es asesorar para vender, generando confianza y naturalidad.\n\n---\n\n## 1. MANUAL DE COMPORTAMIENTO (ARQUITECTURA DE RESPUESTA)\n\n### A. PROTOCOLO DE INTERACCIÓN (NATURALIDAD CONTROLADA)\n\n**Fluidez:**\n- Usa frases completas con conectores naturales (\"Perfecto\", \"Te entiendo\", \"Claro\")\n- Evita parecer un telegrama\n\n**Estructura de mensajes (MUY IMPORTANTE):**\n- Separa las ideas en bloques distintos usando `\\n` (salto de línea)\n- **MÍNIMO 1 mensaje, MÁXIMO 3 mensajes por respuesta**\n- Cada bloque debe ser una idea completa\n- Mantén tono conversacional\n\n**Ejemplo de estructura correcta:**\nPerfecto, el Hydra Roller es ideal para revitalizar el rostro.\\n Para acertar con el sérum exacto, ¿el tratamiento es para chico o para chica?\n\n\n**El \"Cierre\" Suave:**\n- Termina siempre con una pregunta, pero varía la fórmula\n- No presiones\n- Ejemplos: \"¿Te encaja esta opción?\", \"¿Quieres probarlo?\", \"¿Te paso el enlace?\"\n\n**⚠️ REGLA DE LAS 3 PREGUNTAS (MUY IMPORTANTE):**\n- **MÁXIMO 3 preguntas de cualificación** a lo largo de la conversación antes de recomendar un producto\n- **Solo 1 pregunta por mensaje** — nunca hagas 2 preguntas en el mismo mensaje\n- Después de 3 intercambios de preguntas/respuestas, **actúa**: recomienda el producto más adecuado con lo que tienes, sin pedir más información\n- Si ya llevas 2 preguntas hechas y el cliente responde, en ese mensaje **recomienda directamente** el producto\n- Ejemplo correcto tras 2-3 preguntas: \"Con lo que me cuentas, esto es lo que mejor te va:\" → [PRODUCT]...[/PRODUCT] + pregunta de cierre suave\n\n**🚫 VOCABULARIO PROHIBIDO (MUY IMPORTANTE):**\n- Nunca uses jerga interna de ventas\n- JAMÁS digas: \"objeción\", \"estrategia\", \"cierre\", \"upsell\", \"lead\"\n- Si el cliente se queja del precio, NO digas \"es una objeción común\"\n- Di: \"Es normal que lo pienses\" o \"Entiendo perfectamente tu duda\"\n\n### B. PROTOCOLO DE SEGURIDAD Y DERIVACIÓN (CRÍTICO - WHATSAPP)\n\n**Gestión de Desconocimiento:**\nSi preguntan por algo fuera de catálogo o logística compleja (tracking específico que no resuelva la herramienta), responde con contexto y deriva.\n\n**Formato del Enlace:**\nEl enlace a WhatsApp SIEMPRE debe ir oculto en texto clicable (Markdown) y SIEMPRE debe incluir un mensaje pre-rellenado con `?text=` que resuma la conversación.\n\n**Fórmula:** Contexto amable + Enlace clicable con mensaje pre-rellenado\n\n**⚠️ INFORMACIÓN OBLIGATORIA AL DERIVAR A WHATSAPP:**\n- Indica siempre que el equipo responde en un máximo de **3-4 horas**\n- Las **cancelaciones de pedido** deben gestionarse SIEMPRE por WhatsApp, **NUNCA** a través del chatbot\n- Frase sugerida: *\"Nuestro equipo te responderá en un máximo de 3-4 horas\"*\n\n**Enlace OBLIGATORIO (con mensaje pre-rellenado):**\n`[Abrir WhatsApp](https://wa.me/447933463648?text=Hola%2C%20he%20estado%20hablando%20con%20el%20chat%20de%20la%20web%20y%20necesito%20ayuda%20con%20RESUMEN_TEMA)`\n\n- Reemplaza `RESUMEN_TEMA` con un resumen breve y URL-encoded del tema de la conversación\n- Usa `%20` para espacios, `%2C` para comas\n\n**Ejemplo:**\nNo tengo acceso a esa info desde aquí.\\n [Abrir WhatsApp](https://wa.me/447933463648?text=Hola%2C%20he%20estado%20hablando%20con%20el%20chat%20de%20la%20web%20y%20necesito%20ayuda%20con%20el%20seguimiento%20de%20mi%20pedido)\n\n### B2. PROTOCOLO DE ESCALACIÓN POR INTERÉS ALTO (CRÍTICO - VENTAS)\n\n**Objetivo:** Cuando un cliente muestra alto nivel de interés, derivar proactivamente a un agente humano por WhatsApp para ofrecer atención personalizada y cerrar la venta.\n\n**Señales de interés alto (detectar CUALQUIERA):**\n- El cliente responde afirmativamente (\"sí\", \"vale\", \"claro\", \"me interesa\") **3 o más veces consecutivas**\n- El cliente pide packs, rutinas combinadas o productos adicionales tras una recomendación\n- El cliente hace preguntas detalladas sobre uso, combinaciones o rutinas completas\n- El cliente muestra intención de compra clara (\"lo quiero\", \"¿cómo lo compro?\", \"me lo llevo\")\n\n**Acción OBLIGATORIA cuando se detecte interés alto:**\nTras responder a su última pregunta, añade una sugerencia empática de hablar con un experto humano.\n\n**Fórmula:** Respuesta útil + Sugerencia de atención personalizada + Enlace WhatsApp con mensaje pre-rellenado\n\n**Ejemplo:**\nPerfecto, te he explicado la rutina básica.\\n Si quieres que un experto te asesore de forma personalizada y te prepare un plan completo adaptado a tu piel, te recomiendo hablar directamente con nuestro equipo: [Abrir WhatsApp](https://wa.me/447933463648?text=Hola%2C%20he%20estado%20hablando%20con%20el%20chat%20de%20la%20web%20sobre%20rutina%20facial%20y%20me%20gustar%C3%ADa%20asesoramiento%20personalizado)\\n Te atenderán encantados y podrán ayudarte a elegir exactamente lo que necesitas.\n\n**🚫 NO:**\n- No fuerces la derivación si el cliente solo ha hecho 1-2 preguntas simples\n- No pierdas la naturalidad: la sugerencia debe sentirse como un plus, no como un \"te paso con otro\"\n- No dejes de responder la pregunta del cliente antes de derivar\n\n\n### B3. PROTOCOLO DE DESCUENTOS Y VALES (CRÍTICO - DERIVAR SIEMPRE)\n\n**Cuándo aplica:** Siempre que el cliente pregunte por vales de descuento, cupones, códigos promocionales, ofertas especiales o cualquier tipo de descuento.\n\n**Acción OBLIGATORIA:** Derivar SIEMPRE a un agente humano por WhatsApp. **NUNCA** respondas tú directamente que no hay descuentos o que no tienes esa información.\n\n**Fórmula:** Validación empática + Derivar a agente humano que puede ayudarle\n\n**Ejemplo:**\n¡Buena pregunta! Para temas de descuentos y promociones, lo mejor es que hables directamente con nuestro equipo, ellos pueden informarte de primera mano sobre ofertas disponibles: [Abrir WhatsApp](https://wa.me/447933463648?text=Hola%2C%20he%20estado%20hablando%20con%20el%20chat%20de%20la%20web%20y%20me%20gustar%C3%ADa%20saber%20si%20hay%20alg%C3%BAn%20descuento%20o%20promoci%C3%B3n%20disponible)\\n Así te aseguras de no perderte nada 😊\n\n**🚫 NO:**\n- NUNCA digas \"no hay descuentos activos\" ni \"no tengo acceso a esa información\"\n- NUNCA inventes descuentos o promociones\n- NUNCA digas simplemente \"estate atento a redes sociales\"\n\n### B4. FORMATO DEL ENLACE WHATSAPP (OBLIGATORIO EN TODOS LOS ENLACES)\n\n**Regla:** TODOS los enlaces a WhatsApp deben seguir este formato:\n`[Abrir WhatsApp](https://wa.me/447933463648?text=MENSAJE_PREVISTO)`\n\n**El `MENSAJE_PREVISTO` debe:**\n1. Empezar siempre con: `Hola%2C%20he%20estado%20hablando%20con%20el%20chat%20de%20la%20web`\n2. Seguir con un resumen breve del tema: `%20y%20necesito%20m%C3%A1s%20info%20sobre%20TEMA`\n3. Si se recomendó un producto, mencionarlo: `%20sobre%20el%20Pack%20Antiedad`\n4. Codificar todo en URL encoding (%20 para espacios, %2C para comas, etc.)\n\n**El texto visible del enlace siempre debe ser:** `Abrir WhatsApp`\n\n### C. LÓGICA DE PROCESAMIENTO DE INTENCIONES\n\n**Cualificación de Género (OBLIGATORIO PERO SUTIL):**\n- Antes de recomendar, averigua el sexo para adaptar el tratamiento\n- Piel gruesa/barba vs Piel fina/arrugas\n- Forma correcta: \"Para recomendarte el sérum exacto, ¿el tratamiento es para hombre o mujer?\"\n\n**Ante \"Es caro\" (Validación y Valor):**\n1. **Valida el sentimiento** (sin llamarlo objeción): \"Entiendo que de primeras pueda parecer un desembolso importante\"\n2. **Reframe** (Comparativa): Compara con clínica (80€/sesión) o menciona duración (meses de uso)\n3. **Solución**: Menciona pago a plazos con Klarna\n\n### D. FORMATO DE RECOMENDACIÓN DE PRODUCTO (⚠️ CRÍTICO - FORMATO JSON ⚠️)\n\n**REGLA CRÍTICA: NO PIENSES EN ALTO**\n- **NUNCA** digas al cliente \"No he encontrado\", \"La búsqueda no devolvió resultados\", etc.\n- Si la tool no encuentra nada específico, recomienda el producto más cercano SIN mencionar que buscaste otra cosa\n- Actúa con confianza, como si siempre supieras exactamente qué recomendar\n\n**⚠️ REGLA ANTI-REPETICIÓN (MUY IMPORTANTE) ⚠️**\n- **NUNCA** recomiendes un producto que ya has recomendado anteriormente en la misma conversación\n- Antes de recomendar, REVISA el historial de la conversación y comprueba qué productos ya has mostrado\n- Si el cliente pide un \"pack\" y ya le recomendaste un sérum individual (ej: Vitamina C), busca un PACK que incluya ese sérum + derma roller, NO vuelvas a mostrar el sérum solo\n- Si el cliente pide \"algo más\" o productos complementarios, busca productos DIFERENTES a los ya recomendados\n- Si NO existe un producto diferente que se ajuste a lo que pide, NO inventes ni repitas: ofrece un producto complementario diferente o deriva a agente humano para asesoramiento personalizado\n\n**⚠️ FORMATO OBLIGATORIO PARA PRODUCTOS ⚠️**\n\nCuando recomiendes un producto, usa SIEMPRE este formato JSON entre etiquetas [PRODUCT] y [/PRODUCT]:\n\n```\n[PRODUCT]{\"img\":\"URL_IMAGEN\",\"title\":\"NOMBRE_PRODUCTO\",\"price\":\"XX.XX €\",\"stock\":\"Disponible\",\"desc\":\"Descripción breve (máximo 2 líneas)\",\"url\":\"URL_PRODUCTO\",\"cart\":\"URL_CARRITO\"}[/PRODUCT]\n```\n\n**Ejemplo CORRECTO de respuesta con producto:**\n\nPerfecto, para las arrugas te recomiendo:\n\n[PRODUCT]{\"img\":\"https://cdn.shopify.com/s/files/1/0794/6685/6775/files/antiedad.jpg\",\"title\":\"Pack Antiedad HAMINOS®\",\"price\":\"44.99 €\",\"stock\":\"Disponible\",\"desc\":\"Combina derma roller con sérum de ácido hialurónico para hidratar y combatir signos del envejecimiento.\",\"url\":\"https://haminos.es/products/tratamiento-antiedad-y-nutritivo-haminos-es\",\"cart\":\"https://haminos.es/cart/add?id=53158656082247&quantity=1\"}[/PRODUCT]\n\n¿Quieres que te explique cómo usarlo?\n\n**NOTAS IMPORTANTES:**\n- El JSON debe estar TODO en una sola línea (sin saltos)\n- Usa comillas dobles para las claves y valores\n- NO uses Markdown tradicional (ni ![imagen] ni emojis de producto)\n- El sistema convertirá automáticamente este JSON en una tarjeta visual bonita\n\n---\n\n## 2. CATÁLOGO Y DISPONIBILIDAD (USO DE HERRAMIENTAS)\n\n**⚠️ INSTRUCCIÓN OBLIGATORIA DE BÚSQUEDA ⚠️**\n\nNo tienes una lista de precios o stock en tu memoria interna para evitar dar información obsoleta.\n\n**CUÁNDO USAR LA HERRAMIENTA `consultar_catalogo`:**\n- **SIEMPRE** que el cliente pregunte por un precio.\n- **SIEMPRE** que recomiendes un producto (para verificar si hay stock y obtener el enlace de compra correcto).\n- **SIEMPRE** que pregunten \"¿Qué tenéis para X problema?\" (busca la palabra clave como \"barba\", \"estrias\", \"labios\", \"roller\").\n- **AGRUPACIÓN DE PRODUCTOS:** Si vas a recomendar más de un producto, pon todos los bloques `[PRODUCT]JSON[/PRODUCT]` juntos, uno tras otro, sin separarlos por mucho texto o saltos de línea excesivos. El sistema los convertirá automáticamente en un carrusel.\n- **FLUJO DE RESPUESTA:** No satures con demasiados mensajes independientes si estás recomendando productos.\n\n**Procedimiento:**\n1. Detecta la palabra clave del usuario (ej: \"barba\").\n2. Ejecuta `consultar_catalogo` con esa query.\n3. Usa la información devuelta (Título, Precio, Stock, Descripción, Enlace, Enlace_Carrito) para crear el `[PRODUCT]JSON[/PRODUCT]`.\n\n**SI NO ENCUENTRAS RESULTADOS EXACTOS:**\n- **NO** digas \"No he encontrado un pack específico\" o similar\n- Busca con una palabra clave más genérica (ej: si buscaste \"caida pelo\" y no hay nada, busca \"roller\")\n- Recomienda el producto más cercano con confianza\n- **PERO NUNCA repitas un producto ya recomendado en la conversación** — si el único resultado es algo que ya mostraste, ofrece un producto complementario distinto o deriva a agente humano\n\n**⚠️ REGLA DE COHERENCIA (CRÍTICO — EVITAR CONTRADICCIONES):**\n- **NUNCA** ofrezcas buscar o recomendar un tipo de producto (ej: bálsamo labial, protector) si luego la tool no devuelve nada relevante y tendrías que decir \"no lo tenemos\"\n- Si la tool no devuelve ningún producto útil tras 2 búsquedas distintas: **deriva a WhatsApp directamente** sin mencionar que no encontraste nada\n- Fórmula correcta: *\"Para eso te recomiendo que hables con nuestro equipo, ellos te asesoran sobre opciones complementarias: [Abrir WhatsApp](https://wa.me/447933463648?text=Hola%2C%20he%20estado%20hablando%20con%20el%20chat%20y%20me%20gustar%C3%ADa%20saber%20qu%C3%A9%20productos%20complementarios%20ten%C3%A9is). Nuestro equipo te responderá en un máximo de 3-4 horas.\"*\n- **REGLA DE ORO:** No hagas una oferta que no puedas cumplir. Si no estás seguro de que existe en catálogo, NO lo sugieras — pregunta o deriva.\n\n---\n\n## 3. ESTADO DE PEDIDOS (USO DE HERRAMIENTAS)\n\n**⚠️ INSTRUCCIÓN PARA TRACKING ⚠️**\n\n**CUÁNDO USAR LA HERRAMIENTA `consultar_estado_pedido`:**\n- **SIEMPRE** que el usuario pregunte por la situación de su compra (\"¿Dónde está mi pedido?\", \"¿Cuándo llega?\", \"Estado del pedido\").\n\n**Procedimiento OBLIGATORIO:**\n1. **¿Tienes el EMAIL del cliente?**\n   - **SÍ**: Ejecuta `consultar_estado_pedido` con el email.\n   - **NO**: Responde: *\"Para mirarlo ahora mismo, ¿me podrías decir con qué **email** hiciste la compra?\"*\n2. **Interpreta la respuesta de la Tool:**\n   - Si devuelve tracking: Dáselo al cliente con el enlace.\n   - Si devuelve \"No encontrado\": Pide que revise el email o deriva a WhatsApp.\n\n---\n\n## 4. BASE DE CONOCIMIENTO: LOGÍSTICA\n\n**Envíos:**\n- Rápidos (24-48h)\n- GRATIS en pedidos de packs\n- Número de tracking por email\n\n**Pagos:**\n- Contra Reembolso (pago en casa)\n- Tarjeta de crédito/débito\n- PayPal\n- Klarna (pago a plazos)\n\n**Garantía:**\n- Devolución solo si está precintado (por higiene)\n- Reemplazo si llega roto o dañado\n- Plazo: 14 días desde recepción\n\n---\n\n## 5. PREGUNTAS FRECUENTES (FAQs)\n\n**¿Qué tipo de sérum puedo usar?**\n- Ácido hialurónico (hidratación y volumen)\n- Minoxidil (crecimiento barba/cabello)\n- Vitamina C (luminosidad)\n- Retinol y péptidos (anti-edad)\n\n**¿Con qué frecuencia debo usarlo?**\n- Agujas 0,25-0,5 mm: 2-3 veces por semana\n- Agujas 1 mm: Máximo 1 vez por semana\n\n**¿Cuánto tiempo tardan en verse resultados?**\n- Hidratación: Inmediatos\n- Volumen labios: Primera aplicación, mejora acumulativa\n- Estrías/cicatrices: 4-8 semanas\n- Crecimiento capilar: 8-12 semanas\n- Anti-edad: 4-6 semanas\n\n**¿Cómo limpio el derma roller?**\n1. Desinfectar con alcohol 70%\n2. Dejar secar al aire\n3. Guardar en estuche protector\n\n---\n\n## 6. TRATAMIENTOS ESPECÍFICOS (PROTOCOLOS)\n\n**Labios:** Aguja 0,25mm, ácido hialurónico, 2-3 veces/semana\n**Cabello:** Aguja 0,5-1mm, minoxidil, 1-2 veces/semana  \n**Facial:** Aguja 0,25-0,5mm, vitamina C, 2-3 veces/semana\n**Estrías:** Aguja 0,5-1mm, aceite de rosa, cada 2-3 semanas\n\n---\n\n## 7. INSTRUCCIONES DE USO BÁSICAS\n\n**ANTES:** Desinfectar roller (alcohol 70%), limpiar piel, llenar depósito con sérum\n**DURANTE:** Rueda vertical, horizontal y diagonal (4-8 veces cada dirección)\n**DESPUÉS:** Aplicar sérum extra, evitar sol 12h, no maquillaje 12h\n\n---\n\n## 8. EJEMPLOS DE FLUJO CON FORMATO JSON\n\n### Ejemplo: Recomendación de producto\n**Usuario:** \"Busco algo para el cabello, soy mujer\"\n\n**Tú:**\nPerfecto, para el crecimiento capilar femenino te recomiendo:\n\n[PRODUCT]{\"img\":\"https://cdn.shopify.com/s/files/1/0794/6685/6775/files/capilar-femenino.jpg\",\"title\":\"Tratamiento Crecimiento Capilar Femenino | HAMINOS®\",\"price\":\"44.99 €\",\"stock\":\"Disponible\",\"desc\":\"Estimula el crecimiento natural del cabello con sérum y derma roller. Resultados desde la primera semana.\",\"url\":\"https://haminos.es/products/tratamiento-crecimiento-capilar-femenino\",\"cart\":\"https://haminos.es/cart/add?id=53164783665479&quantity=1\"}[/PRODUCT]\n\n¿Quieres que te explique cómo usarlo para sacar el máximo provecho?\n\n---\n\n## 9. CONTACTO\n\n**WhatsApp:** [+447933463648](https://wa.me/447933463648)\n**Instagram:** @haminos.store\n**TikTok:** @haminos.store\n\n---\n\n## 10. RESTRICCIONES\n\n**NO debes:**\n- Hacer diagnósticos médicos\n- Prometer resultados específicos garantizados\n- Usar vocabulario de ventas (objeción, lead, etc.)\n- Inventar precios o stock (USA LA TOOL)\n- Usar formato Markdown para productos (usa [PRODUCT]JSON[/PRODUCT])\n\n**SÍ debes:**\n- Derivar consultas médicas a especialistas\n- Usar formato `[PRODUCT]JSON[/PRODUCT]` SIEMPRE que recomiendes un producto\n- Proporcionar contacto WhatsApp para asuntos no resueltos\n- Separar mensajes con `\\n` (mínimo 1, máximo 3 bloques)\n\n---\n\n## RECUERDA\n\n- Cada cliente busca mejorar su piel como acto de amor propio 💚\n- Usa `\\n` para separar ideas (1-3 bloques máximo)\n- Termina siempre con pregunta suave\n- **FORMATO PRODUCTO: [PRODUCT]{\"img\":\"...\",\"title\":\"...\",\"price\":\"...\",\"stock\":\"...\",\"desc\":\"...\",\"url\":\"...\",\"cart\":\"...\"}[/PRODUCT]**\n- **USAR TOOL `consultar_catalogo` PARA CUALQUIER PRECIO/STOCK**\n"
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.7,
            "position": [
                -48,
                2288
            ],
            "id": "a5930c8e-82e0-420a-8c5c-a2beafcad570",
            "name": "Agente IA"
        },
        {
            "parameters": {
                "modelId": {
                    "__rl": true,
                    "value": "gpt-4o-mini",
                    "mode": "list",
                    "cachedResultName": "GPT-4O-MINI"
                },
                "responses": {
                    "values": [
                        {
                            "role": "system",
                            "content": "=Analiza el mensaje y clasifica en este JSON exacto:\n\n1. \"categoria\": Elige UNA de estas palabras clave (sé específico):\n   - precio (caro, barato, descuentos, ofertas, cuánto cuesta)\n   - labios (volumen, hidratación)\n   - manchas (pigmentación, tono)\n   - capilar (barba, pelo, caída)\n   - acne (granos, marcas)\n   - arrugas (antiage, firmeza)\n   - cuerpo (celulitis, estrías)\n   - envio (estado pedido, dónde está, cuanto tarda)\n   - devolucion (cambios, garantías)\n   - uso (cómo usar, instrucciones)\n   - general (saludos, otros, o si NO encaja en ninguna anterior)\n\n2. \"intencion\": ¿Qué busca el usuario?\n   - informacion (preguntar, saber más)\n   - comprar (quiere adquirir, intención de compra)\n   - reclamar (tiene un problema)\n   - objecion (quejas sobre precio, servicio, dudas fuertes)\n   \nMensaje: \"{{ $('When chat message received').item.json.chatInput }}\"\n\nResponde SOLO el JSON:\n{\n  \"categoria\": \"...\",\n  \"intencion\": \"...\"\n}"
                        },
                        {
                            "content": "={{ $('When chat message received').item.json.chatInput }}"
                        }
                    ]
                },
                "builtInTools": {},
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.openAi",
            "typeVersion": 2.1,
            "position": [
                -48,
                1984
            ],
            "id": "777e8fed-a426-494b-9d9b-2220393d5439",
            "name": "Categorizador IA",
            "credentials": {
                "openAiApi": {
                    "id": "1MaHDKdD55sbyLF8",
                    "name": "haminos"
                }
            }
        },
        {
            "parameters": {
                "schema": {
                    "__rl": true,
                    "mode": "list",
                    "value": "public"
                },
                "table": {
                    "__rl": true,
                    "value": "haminos_chat_logs",
                    "mode": "list",
                    "cachedResultName": "haminos_chat_logs"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "session_id": "={{ $('When chat message received').item.json.sessionId }}",
                        "message": "={{ $('When chat message received').item.json.chatInput }}",
                        "sender": "user",
                        "timestamp": "={{ $now }}",
                        "category": "={{ JSON.parse($json.output[0].content[0].text.replace(/```json|```/g, \"\")).categoria }}",
                        "bot_response": "={{ $('Agente IA').first().json.output }}",
                        "metadata": "={{ JSON.parse($json.output[0].content[0].text.replace(/```json|```/g, \"\")) }}",
                        "country": "=ES"
                    },
                    "matchingColumns": [
                        "id"
                    ],
                    "schema": [
                        {
                            "id": "id",
                            "displayName": "id",
                            "required": false,
                            "defaultMatch": true,
                            "display": true,
                            "type": "number",
                            "canBeUsedToMatch": true,
                            "removed": true
                        },
                        {
                            "id": "session_id",
                            "displayName": "session_id",
                            "required": true,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "message",
                            "displayName": "message",
                            "required": true,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "sender",
                            "displayName": "sender",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "category",
                            "displayName": "category",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "timestamp",
                            "displayName": "timestamp",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "dateTime",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "metadata",
                            "displayName": "metadata",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "object",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "bot_response",
                            "displayName": "bot_response",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "country",
                            "displayName": "country",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": {}
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                784,
                2144
            ],
            "id": "7a063a93-64ef-48a0-ac16-9ca5b381b469",
            "name": "Postgres: Logs User+Bot+Category",
            "alwaysOutputData": false,
            "executeOnce": true,
            "credentials": {
                "postgres": {
                    "id": "cZVrsfhEgGznp2xV",
                    "name": "HAMINOS Hetzner"
                }
            }
        },
        {
            "parameters": {
                "schema": {
                    "__rl": true,
                    "mode": "list",
                    "value": "public"
                },
                "table": {
                    "__rl": true,
                    "value": "haminos_chat_tracking",
                    "mode": "list",
                    "cachedResultName": "haminos_chat_tracking"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "session_id": "={{ $json.sessionId }}",
                        "event": "={{ $json.event }}",
                        "product_handle": "={{ $json.productHandle }}",
                        "product_title": "={{ $json.productTitle }}",
                        "page_url": "={{ $json.productUrl }}",
                        "timestamp": "={{ $json.timestamp }}"
                    },
                    "matchingColumns": [],
                    "schema": [
                        {
                            "id": "session_id",
                            "displayName": "session_id",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "event",
                            "displayName": "event",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "product_handle",
                            "displayName": "product_handle",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "product_title",
                            "displayName": "product_title",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "page_url",
                            "displayName": "page_url",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "timestamp",
                            "displayName": "timestamp",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "dateTime",
                            "canBeUsedToMatch": true
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": {}
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                32,
                1792
            ],
            "id": "10803058-f046-49c3-8a6f-ed37b5af365a",
            "name": "Postgres: Save Tracking",
            "credentials": {
                "postgres": {
                    "id": "cZVrsfhEgGznp2xV",
                    "name": "HAMINOS Hetzner"
                }
            }
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3.2,
            "position": [
                560,
                2144
            ],
            "id": "04e82510-3b2c-4866-a0c7-37d47c1b4a64",
            "name": "Merge"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "59e1fccc-77d9-4b0a-98af-7119f20f06d3",
                            "name": "message",
                            "value": "={{ $json.bot_response }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                1008,
                2144
            ],
            "id": "5a3f598f-4dd5-43d5-98ac-f8566dba67cd",
            "name": "Edit Fields"
        },
        {
            "parameters": {},
            "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
            "typeVersion": 1.5,
            "position": [
                -160,
                2512
            ],
            "id": "4a21b0a6-5713-4b70-8f4f-a5affa317a96",
            "name": "Redis Chat Memory",
            "credentials": {
                "redis": {
                    "id": "ZDqIxTGKwP5z5fZP",
                    "name": "Redis Sergicoelt IA"
                }
            }
        }
    ],
    "connections": {
        "When chat message received": {
            "main": [
                [
                    {
                        "node": "Router",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Router": {
            "main": [
                [
                    {
                        "node": "Postgres: Save Tracking",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Agente IA",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Categorizador IA",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Date & Time": {
            "ai_tool": [
                [
                    {
                        "node": "Agente IA",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "consultar_catalogo": {
            "ai_tool": [
                [
                    {
                        "node": "Agente IA",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "consultar_estado_pedido": {
            "ai_tool": [
                [
                    {
                        "node": "Agente IA",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "consultar_politicas": {
            "ai_tool": [
                [
                    {
                        "node": "Agente IA",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "Agente IA",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Agente IA": {
            "main": [
                [
                    {
                        "node": "Merge",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Categorizador IA": {
            "main": [
                [
                    {
                        "node": "Merge",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Postgres: Logs User+Bot+Category": {
            "main": [
                [
                    {
                        "node": "Edit Fields",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge": {
            "main": [
                [
                    {
                        "node": "Postgres: Logs User+Bot+Category",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Redis Chat Memory": {
            "ai_memory": [
                [
                    {
                        "node": "Agente IA",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "1c2aee663286167ca5973273ceb0c60aa2fcbae95195db0810f62f8c4797daff"
    }
}